$darkblue:#07405a;
$darkblue1:#002d42;
$white: #ffffff;
$grey:#b0b0b0;
$black:#000;
$blue:#129bda;
$lightblue:#84d0f3;
$red: #ff0000;
$animate: 0.5s all ease;
$shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
