extends ../includes/layout.pug

block content
  .about_wrap
    .container
      .row
        .col-sm-12
          .banner_abt
            img(src="./images/banner.png", alt="")
          .detail
            h3 โครงการส่งเสริม SMEs เข้าสู่ Global Value Chain
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        .topic_wrap
          .col-md-12
            .col-md-3.col-sm-3.col-xs-6.nopadding
              .thumbnail
                .thum_img
                  a(href="")
                    img(src="./images/topic1.png", alt="")
                  a(href="")
                    .backdrop
                .caption
                  a(href="")
                    h3 Topic 1
                  a(href="")
                    p Lorem Ipsum is simply dummy text of the printing and typesetting
            .col-md-3.col-sm-3.col-xs-6.nopadding
              .thumbnail
                .thum_img
                  a(href="")
                    img(src="./images/topic2.png", alt="")
                  a(href="")
                    .backdrop
                .caption
                  a(href="")
                    h3 Topic 2
                  a(href="")
                    p Lorem Ipsum is simply dummy text of the printing and typesetting
            .col-md-3.col-sm-3.col-xs-6.nopadding
              .thumbnail
                .thum_img
                  a(href="")
                    img(src="./images/topic3.png", alt="")
                  a(href="")
                    .backdrop
                .caption
                  a(href="")
                    h3 Topic 3
                  a(href="")
                    p Lorem Ipsum is simply dummy text of the printing and typesetting
            .col-md-3.col-sm-3.col-xs-6.nopadding
              .thumbnail
                .thum_img
                  a(href="")
                    img(src="./images/topic4.png", alt="")
                  a(href="")
                    .backdrop
                .caption
                  a(href="")
                    h3 Topic 4
                  a(href="")
                    p Lorem Ipsum is simply dummy text of the printing and typesetting
