extends ../includes/layout.pug

block content
  .company_wrap
    .container
      .row
        .col-sm-4
          ul.edit_company 
            li Edit company profile
            li
              a(href="") Contact Person Information
            li.active
              a(href="") Corporate info1
            li
              a(href="") Corporate info2
            li
              a(href="") Pormo info1
            li
              a(href="") Tagline info
            li
              a(href="") Image & File management
            li
              a(href="") Topic

          ul.edit_company 
            li Ministry of industry
            li
              a(href="") User list

          ul.edit_company 
            li Support Information
            li
              a(href="") Support Profile
            li
              a(href="") Support menu/result
            li
              a(href="") Management recommened Company
          
          a(href="").setting_btn Preview
          a(href="").setting_btn Various settings
          a(href="").setting_btn Save public view
          a(href="").setting_btn View public page

        .col-sm-8
          .headline_company
            h3 Corporate info1
          .table_edit.table-responsive
            table.table.table-bordered
              tr
                th.blue(width='300px') Coporate name
                th Suchana Kunuratna
              tr
                th.blue(width='300px') Web address
                th suchana.dip@gmail.com
              tr
                th.blue(width='300px') Number of employees
                th National Number: 66 Phone Number: 022023000
              tr
                th.blue(width='300px') Head office: Country
                th Thailand
              tr
                th.blue(width='300px') Head office: Address
                th Postal Code: 10400 Address: 75/1 RAMA 6 Phayathai Ratchatevee10400
              tr
                th.blue(width='300px') Industry
                th Public administration and defence; compulsory social security
            table
          .pen-i
            a(href="",data-toggle="modal",data-target=".edit_company1")
              img(src="./images/pen-i.png", alt="")
             
                          
                
      
              
                
                
                
                  
              
                
                
                
          
            
              
              
               
        
            


                
               