extends ../includes/layout.pug

block content
  .company_wrap
    .container
      .row
        .col-sm-4
          ul.edit_company 
            li Edit company profile
            li.active
              a(href="") Contact Person Information
            li
              a(href="") Corporate info1
            li
              a(href="") Corporate info2
            li
              a(href="") Pormo info1
            li
              a(href="") Tagline info
            li
              a(href="") Image & File management
            li
              a(href="") Topic

          ul.edit_company 
            li Ministry of industry
            li
              a(href="") User list

          ul.edit_company 
            li Support Information
            li
              a(href="") Support Profile
            li
              a(href="") Support menu/result
            li
              a(href="") Management recommened Company
          
          a(href="").setting_btn Preview
          a(href="").setting_btn Various settings
          a(href="").setting_btn Save public view
          a(href="").setting_btn View public page

        .col-sm-8
          .headline_company
            h3 Contact Person Information
          .btn_edit
            a(class="btn btn-default",href="#",role="button") Edit
          
          .detail_company กรุณาป้อนข้อมูลการติดต่อของผู้รับผิดชอบระบบ (ข้อมูลนี้จะไม่เปิดเผยต่อสาธารณชนทางอินเทอร์เน็ต)

          .detail_company * คุณอาจลงทะเบียนผู้ติดต่อที่แตกต่างจากที่คุณแต่งตั้งครั้งแรกเมื่อลงทะเบียนบริษัทของคุณ
          .detail_company * ข้อมูลนี้จะใช้เป็นข้อมูลการติดต่อสำหรับสำนักงานบริหาร

          .table_edit.table-responsive
            table.table.table-bordered
              tr
                th.blue(width='300px') Name
                th Suchana Kunuratna
              tr
                th.blue(width='300px') Mail address
                th suchana.dip@gmail.com
              tr
                th.blue(width='300px') Phone number
                th National Number: 66 Phone Number: 022023000
            table
          
          .btn_edit
            a(class="btn btn-default",href="#",role="button",data-toggle="modal",data-target=".edit_company") Edit
             
                          
                
      
              
                
                
                
                  
              
                
                
                
          
            
              
              
               
        
            


                
               