extends ../includes/layout.pug

block content
  .company_wrap
    .container
      .row
        .col-sm-4
          ul.edit_company 
            li Edit company profile
            li
              a(href="") Contact Person Information
            li
              a(href="") Corporate info1
            li
              a(href="") Corporate info2
            li.active
              a(href="") Pormo info1
            li
              a(href="") Tagline info
            li
              a(href="") Image & File management
            li
              a(href="") Topic

          ul.edit_company 
            li Ministry of industry
            li
              a(href="") User list

          ul.edit_company 
            li Support Information
            li
              a(href="") Support Profile
            li
              a(href="") Support menu/result
            li
              a(href="") Management recommened Company
          
          a(href="").setting_btn Preview
          a(href="").setting_btn Various settings
          a(href="").setting_btn Save public view
          a(href="").setting_btn View public page

        .col-sm-8
          .headline_company
            h3 Pormo info

            p.bold This is your above the fold for your company page. Site users will see this portion first.
            p อธิบายบริษัทของคุณเป็นโนคสั้นๆ
          

          .table_edit.table-responsive
            table.table.table-bordered
              tr
                th.blue(width='300px') Catch phrase
                th 
            table
          
          .pen-i
            a(href="",data-toggle="modal",data-target=".edit_company3")
              img(src="./images/pen-i.png", alt="")
             
                          
                
      
              
                
                
                
                  
              
                
                
                
          
            
              
              
               
        
            


                
               